<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <title>Genex.ai</title>
    <style>
        #inp_user:placeholder {
            color: grey;
        }
        #sentence{
            width: 80%;
        }
        #intent{
            width: 35%;
        }
        #int_res{
            float: right;
            color: red;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="./index.html">Genex.ai</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="btn nav-link" href="#">Understanding
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="btn nav-link" href="#">Samples <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="btn nav-link" href="#" target="_blank" onclick="location.href = 'http://182.160.104.220:5000/';">Try The BOT <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn my-2 my-sm-0" type="submit">
                    SalmanHaydar
                </button>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-10">
                <h3>Test how your app understands a sentence</h3>
                <p>You can train your app by adding more examples</p>
                <div class="form-group">
                    <input style="background: lightgrey;" type="text" class="form-control" placeholder="User says.." autofocus id="user_inp" />
                    <input style="border:none; background: white" type="text" class="form-control mt-3" id="intent" placeholder="Add a new entity" />
                    <input class="btn btn-outline-secondary mt-3" onclick="call_me()" type="button" value="Validate" id="submit" />
                    <span id='int_res' class="mt-3"></span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-10">
                <hr>
                <h3 class="mt-3">Your app uses <span id="entities">6</span> intent</h3>
                <table class="table table-striped mt-3">
                        <thead id="table_body">
                          <tr>
                            <th scope="col" id="sentence">Sentences</th>
                            <th scope="col">Intent</th>
                          </tr>
                        </thead>
                        <tbody id="table_data_body">
                          <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                          </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script language="javascript" type="text/javascript">
    window.onload = function()
    {
        var tr = document.getElementsByTagName("tr");
        
        var list = [];
        // console.log(tr);
        for(var i=0;i<tr.length;i++)
        {
            var cell = tr[i].cells;

            if(cell[1].tagName=="TD")
            {
                list.push(cell[1].innerText);
            }
        }

        document.getElementById("entities").innerHTML = [...new Set(list)].length;
    }
    function call_me()
    {
        var tableBody = document.getElementById("table_body");
        var userInp = document.getElementById("user_inp").value.trim();
        var intent = document.getElementById("intent").value.trim();
        var res = document.getElementById("int_res");
        if(userInp.length>0)
        {
            if(intent.length==0)
            {
                $.ajax({
                type: 'GET',
                url: 'http://nlp-model.herokuapp.com/getIntent?data='+userInp,
                success: function(resp) {
                    var result = JSON.parse(resp);
                    res.innerText = result.intent;
                    document.getElementById("user_inp").value = "";
                },
                error: function() {
                    window.alert("Something went wrong");
                }
            
                });
            }
            else
            {
                
            var table_body_node = document.getElementById("table_data_body");

            var row_node = document.createElement("tr");

            var first_node = document.createElement("td");
            var second_node = document.createElement("td");

            first_node.innerText = userInp;
            second_node.innerText = intent;

            row_node.appendChild(first_node);
            row_node.appendChild(second_node);

            table_body_node.appendChild(row_node);
            document.getElementById("user_inp").value = "";
            document.getElementById("intent").value = "";
            var tr = document.getElementsByTagName("tr");
            
            var list = [];
            // console.log(tr);
            for(var i=0;i<tr.length;i++)
            {
                var cell = tr[i].cells;

                if(cell[1].tagName=="TD")
                {
                 list.push(cell[1].innerText);
                }
            }

            document.getElementById("entities").innerHTML = [...new Set(list)].length;
            
            }
        }
    }
    </script>
</body>

</html>